* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer{
  display: flex;
}

.field{
  text-transform: lowercase;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    padding: 3px;
    font-size: 19px;
    font-weight: 500;
}